{% extends "core/base.html" %}
{% block content %}
<div>
    <br>
    <div>
        <br>
        <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
                <h1 class="card-title" style="color: darkorange;">Iniciar Sesión</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
                <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>
{% endblock %}
