{% extends "core/base.html" %}
{% block content %}

<div>
    <br>
    <br>
    <div class="card mx-auto" style="width: 50rem;">
        <div class="card-body">
        <h1 class="card-title" style="color: darkorange;">Registrarse</h1>
        <form method="post">
            {% csrf_token %}    {% comment %} Se establece un standar de seguridad minima (crea token, cookie y sesión) {% endcomment %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}
