{% extends "core/base.html" %}
{% load static %}

{% block content %}
<section class="home-slider owl-carousel img" style="background-image: url({% static "core/images/bg_1.jpg" %});">
    <div class="slider-item" style="background-image: url({% static "core/images/bg_3.jpg" %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Read our Blog</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Blog</span></p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Read our blog</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row d-flex">

            {% for post in myBlogPosts %}
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="#" class="block-20" style="background-image: url('{{post.post_image.url}}');">
                        </a>
                        <div class="text py-4 d-block">
                            <div class="meta">
                                <div><a href="#">{{post.post_created}}</a></div>
                                <div><a href="#">{{post.post_creator}}</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">{{post.post_title}}</a></h3>
                            <p>{{post.post_description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <div class="pagination">
                        <span class="step-links">
                            {% if myBlogPosts.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ myBlogPosts.previous_page_number }}">previous</a>
                            {% endif %}
                
                            <span class="current">
                                Page {{ myBlogPosts.number }} of {{ myBlogPosts.paginator.num_pages }}.
                            </span>
                
                            {% if myBlogPosts.has_next %}
                                <a href="?page={{ myBlogPosts.next_page_number }}">next</a>
                                <a href="?page={{ myBlogPosts.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}