{% extends "core/base.html" %}
{% load static %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Ingrese sus datos</h5>
        {{ form | crispy }}
        <a href={% url 'register' %} class="card-link">¿no tiene cuenta? Registrate aqui</a>
        <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
      </div>
    </div>
</form>

{% endblock content %}