{% extends "core/base.html" %}
{% load static %}

{% block content %}
<section class="home-slider owl-carousel img" style="background-image: url({% static "core/images/bg_1.jpg" %});">	
	<div class="slider-item" style="background-image: url({% static "core/images/bg_3.jpg" %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">
				
				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">Our Menu</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Menu</span></p>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">Our Menu</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
				<p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>

		{% comment %} FILTRO {% endcomment %}
		<div>
			<h1>Filtrar - {{filter}}</h1>
			<div>
				<div style="display: flex;">
					{% for c in containList %}
					<h2 style="margin-left: 20px"><a href="{% url "menu-filter-contain" c.id %}">{{c.name}}</a></h2>
					{% endfor %}
				</div>
				<div style="display: flex;">
					{% for d in doughList %}
					<h2 style="margin-left: 20px"><a href="{% url "menu-filter-dough" d.id %}">{{d.type}}</a></h2>
					{% endfor %}
				</div>
				<hr>
			</div>
		</div>
		{% comment %} Fin filtro {% endcomment %}


		<div class="row">
			{% for pizza in myPizzas %}
				<div class="col-md-3 text-center ftco-animate">
					<div class="menu-wrap">
						<a href="#" class="menu-img img mb-4" style="background-image: url({{pizza.pizza_image.url}});"></a>
						<div class="text">
							<h3><a href="#">{{pizza.pizza_name}}</a></h3>
							<p>{{pizza.pizza_description}}</p>
							<p class="price"><span>{{pizza.pizza_price}}</span></p>
							<p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="pagination">
			<span class="step-links">
				{% if myPizzas.has_previous %}
					<a href="?page=1">&laquo; first</a>
					<a href="?page={{ myPizzas.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
					Page {{ myPizzas.number }} of {{ myPizzas.paginator.num_pages }}.
				</span>
	
				{% if myPizzas.has_next %}
					<a href="?page={{ myPizzas.next_page_number }}">next</a>
					<a href="?page={{ myPizzas.paginator.num_pages }}">last &raquo;</a>
				{% endif %}
			</span>
		</div>
	</div>
</section>


{% endblock content %}